<!DOCTYPE html>

<html data-theme="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection | 404</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="icon" sizes="2x32 64x64" href="images/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" href="images/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/images/android-chrome-512x512.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar', {page: ''}) %>

    <!-- Hero -->
    <div class="container mx-auto mt-10">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold green_gradient">Error 404</h1>

            <p class="py-6 text-gray-400">
              <%= err %>  
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

