<!DOCTYPE html>
<html data-theme="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar', {page: ''}) %>

    <!-- Hero -->
    <div class="container mx-auto mt-10">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold green_gradient">Error 500</h1>

            <p class="py-6 text-gray-400">
                <%= message %>  
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

